---
import { parseISO, isBefore, intlFormat } from "date-fns";
import Base from "@layouts/Base.astro"
import type { Frontmatter } from "@layouts/Post.astro";

const posts = await Astro.glob<Frontmatter>("./*.md")
  .then(posts => posts
    .filter((post) => !post.frontmatter.draft)
    .map(({ frontmatter, url }) => ({
      title: frontmatter.title,
      description: frontmatter.description,
      date: parseISO(frontmatter.date),
      href: url,
    }))
    .sort((a, b) => {
      if (isBefore(a.date, b.date)) return 1;
      if (isBefore(b.date, a.date)) return -1;
      return 0;
    }));

// TODO: properly seperate the post cards into their own components
---

<Base>
  <h1>Blog</h1>
  This page purely exists to fill the empty void that is the navbar.
  <h2>Posts</h2>
  {posts.map((post) => (
    <a href={post.href}>
      <div>
        <span>{post.title}</span>
        {intlFormat(post.date, {
          year: "numeric",
          month: "long",
          day: "numeric",
        }, {
          locale: "en-US",
        })}
        <div>{post.description}</div>
      </div>
    </a>
  )).reduce((acc, curr) => (
    <>{acc}<hr>{curr}</>
  ))}
</Base>

<style>
  div {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  a {
    text-decoration: none;
    color: unset !important;
  }
  span {
    color: var(--fg);
  }
</style>